<!-- div for smaller screens -->

<div *screenBelowLarge class="title-bar-small">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
    <div class="small-image-holder">
        <img class="small-image" src="assets/images/start.jpg">
    </div>
    <span class="glyphicon glyphicon-option-vertical"></span>
</div>

<!-- div for large screens -->

<div *screenLarge class="title-bar">
    <img height="70px" src="assets/images/start.jpg" alt="Squash">
    <div class="menu-area">
        
        <fw-top-bar>
        </fw-top-bar>

        <fw-menu>
        </fw-menu>
        
    </div>
</div>